aiodns==3.1.1
aiohttp==3.9.5
aiohttp-proxy==0.1.2
aiohttp-socks==0.8.4
aiosignal==1.3.1
anyio==4.3.0
art==6.1
asgiref==3.8.1
async-timeout==4.0.3
asyncio==3.4.3
attrs==23.2.0
Automat==22.10.0
bitarray==2.9.2
blessed==1.20.0
ccxt==3.0.107
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
ckzg==1.0.2
config==0.5.1
constantly==23.10.4
crypto_cpp_py==1.4.4
cryptography==42.0.5
curl_cffi==0.7.1
cytoolz==0.12.3
distlib==0.3.8
ecdsa==0.18.0
et-xmlfile==1.1.0
eth-account==0.11.2
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.5.1
eth-rlp==1.0.1
eth-typing==4.0.0
eth-utils==4.1.1
eth_abi==5.0.1
fake-useragent==1.4.0
filelock==3.13.4
frozenlist==1.4.1
h11==0.14.0
h2==4.1.0
hashids==1.3.1
hexbytes==0.3.1
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.7
importlib_metadata==7.1.0
incremental==22.10.0
inquirer==3.1.4
jaraco.classes==3.4.0
jaraco.context==5.1.0
jaraco.functools==4.0.0
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
jwt==1.3.1
keyring==25.1.0
lark==1.1.9
loguru==0.7.2
lru-dict==1.2.0
marshmallow==3.21.3
marshmallow-oneofschema==3.1.1
marshmallow_dataclass==8.7.0
mnemonic==0.21
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
numpy==2.0.1
openpyxl==3.1.2
packaging==24.1
pandas==2.2.1
parsimonious==0.9.0
platformdirs==4.2.0
poseidon_py==0.1.4
pretty-utils @ git+https://github.com/SecorD0/pretty-utils@3bc42453371673835a9760764153e84befe4f00c
protobuf==5.26.0
py-okx-async @ git+https://github.com/SecorD0/py-okx-async@9a64810a0dcf5d67f8d66a4a33d1276fbbafada6
pybit==5.8.0
pycares==4.4.0
pycparser==2.21
pycryptodome==3.20.0
PyJWT==2.8.0
pyOpenSSL==24.1.0
PySocks==1.7.1
pyTelegramBotAPI==4.16.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-editor==1.0.4
python-okx==0.2.8
python-socks==2.5.0
pytz==2024.1
pyunormalize==15.1.0
pyuseragents==1.0.5
readchar==4.0.6
referencing==0.32.1
regex==2023.12.25
requests==2.32.3
rlp==4.0.0
rpds-py==0.18.0
six==1.16.0
sniffio==1.3.1
starknet-py==0.23.0
sympy==1.11.1
tabulate==0.9.0
telebot==0.0.5
termcolor==2.2.0
tls-client==1.0.1
toolz==0.12.1
tqdm==4.65.2
Twisted==24.3.0
typeguard==4.0.1
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.25.3
wcwidth==0.2.13
web3==6.11.4
websocket-client==1.8.0
websockets==12.0
websockets_proxy==0.1.1
XlsxWriter==3.2.0
yarl==1.9.4
zipp==3.18.1
zope.interface==6.2
